test_pictures/
runescape_bot/RunescapeBot/bin/
runescape_bot/packages - backup/
runescape_bot/RunescapeBotTests/bin/
runescape_bot/.vs/
runescape_bot/RunescapeBot/obj/
runescape_bot/RunescapeBotTests/obj/Debug/RunescapeBotTests.csproj.FileListAbsolute.txt
debug_pictures/
runescape_bot/RunescapeBot/bin/